{% extends "layout.html" %}

{% block content %}
  <form class="form-signin" action="#" method="post">
    <h2 class="form-signin-heading">Add card</h2>
    <label for="inputFront" class="sr-only">Front</label>
    <input name="front" id="inputFront" class="form-control" placeholder="Front" required autofocus>
    <label for="inputBack" class="sr-only">Back</label>
    <input name="back" id="inputFront" class="form-control" placeholder="Back" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
  </form>
{% endblock %}
