{% extends "layout.html" %}

{% block content %}
<div class="starter-template">
  {% if user %}
    <h1>Welcome to learny, {{ user.username }}!</h1>
    <p class="lead">I knew you'd be back.<p>
  {% else %}
    <h1>Welcome to learny!</h1>
    <p class="lead">You can sign up or log in on the menu above.<p>
  {% endif %}

</div>
{% endblock %}
