<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Learny</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{{ "active" if page_name == 'index' }}"><a href="/">Home</a></li>
        {% if user %}
        <li class="{{ "active" if page_name == 'cards/review' }}"><a href="/cards/review">Review</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cards <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="{{ "active" if page_name == 'cards/add' }}"><a href="/cards/add">Add</a></li>
            <li class="{{ "active" if page_name == 'cards/list' }}"><a href="/cards/list">List</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Decks <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="{{ "active" if page_name == 'decks/list' }}"><a href="/decks/list">List</a></li>
            <li class="{{ "active" if page_name == 'decks/shared' }}"><a href="/decks/shared">Get shared</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if not user %}
              <li class="{{ "active" if page_name == 'login' }}"><a href="/login">Login</a></li>
              <li class="{{ "active" if page_name == 'register' }}"><a href="/register">Register</a></li>
            {% else %}
              <li><a href="/logout">Logout</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
