{% extends "layout.html" %}

{% block content %}
  <form class="form-signin" method="POST">
    <h2 class="form-signin-heading">Register</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input name="username" type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
{% endblock %}
